## Análise e pré processamento dos dados da base do Titanic

### A base traz informações dos passageiros que estavam no navio no dia do acidente:

https://www.kaggle.com/datasets/yasserh/titanic-dataset?select=Titanic-Dataset.csv

As colunas desse dataset são:
- Passenger ID: ID do passageiro (número único para cada um dos passageiros)
- Survived: sobrevivente (0 = Não, 1 = Sim)
- Pclass: Classe da passagem (1 = primeira classe, 2 = segunda classe, 3 = terceira classe)
- Name: nome do passageiro
- Sex: Gênero do passageiro
- Age: Idade (em anos) do passageiro
- SibSp: número de irmãos / cônjuges a bordo do Titanic
- Parch: número de pais / filhos a bordo do Titanic
- Ticket: número do ticket
- Fare: tarifa da passagem
- Cabin: número da cabine
- Embarked: porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

In [10]:
from pyspark.sql import SparkSession, functions as F

spark = (
    SparkSession
    .builder
    .appName('Titanic')
    .getOrCreate()
)
spark

In [2]:
df_titanic = (
    spark.read.format('csv')
    .option('inferSchema', True)
    .option('header', True)
    .load('data/Titanic-Dataset.csv')
)

df_titanic.printSchema()
df_titanic.show(5)

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [3]:
# Total Linhas e Colunas

print((df_titanic.count(), len(df_titanic.columns)))

(891, 12)

In [4]:
df_titanic.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    25%|              223|                  0|                 2|                null|  null|              20.0|                 0|                  0|           19996.0|           7.8958| null|    null|
|    50%|              446|                  0|                 3|                null|  null|              28.0|                 0|                  0|          236171.0|          14.4542| null|    null|
|    75%|              669|                  1|                 3|                null|  null|              38.0|                 1|                  0|          347743.0|             31.0| null|    null|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [5]:
# Localizando e contando todas as colunas do Dataframe com valores: 
# - Null, None, NaN 
# Caso haja necessidade de especificar colunas: 
#  - df_Columns=["col1","col2","col3"]

df_titanic.select(
    [
        F.count(F.when(F.isnan(c) 
        | F.col(c).isNull(), c)).alias(c) 
        for c in df_titanic.columns]
).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [6]:
# Localizando e contando valores: empty, None, Null, Nan com string literais de todas as Colunas do Dataframe

df_titanic.select(
    [F.count(F.when(F.col(c).contains('None') | 
                            F.col(c).contains('NULL') | 
                            (F.col(c) == '' ) | 
                            F.col(c).isNull() | 
                            F.isnan(c), c 
                           )).alias(c)
                    for c in df_titanic.columns]
).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [7]:
# Find high cardinality
df_titanic.groupBy('name').count().count()

891

#### Verificando Cardinalidade

In [8]:
list = []
for col in df_titanic.columns:
    data = (col, int( df_titanic.select(col).distinct().count())  )
    list.append(data)


(
    spark.createDataFrame(list, ["cols","total"])
    .orderBy(F.col('total').desc())
    .show()
)

+-----------+-----+
|       cols|total|
+-----------+-----+
|PassengerId|  891|
|       Name|  891|
|     Ticket|  681|
|       Fare|  248|
|      Cabin|  148|
|        Age|   89|
|      SibSp|    7|
|      Parch|    7|
|   Embarked|    4|
|     Pclass|    3|
|   Survived|    2|
|        Sex|    2|
+-----------+-----+

In [9]:
# Verificando a quantidade de pessoas que sobreviveram separando pelo sexo

df_titanic.groupBy('Sex', 'Survived').count().orderBy(F.desc('Sex')).show()

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|  male|       1|  109|
|female|       1|  233|
|female|       0|   81|
+------+--------+-----+